body,
html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;

  display: grid;
  --row-min: 80px;
  --col-min: 300px;
  grid-template-rows: var(--row-min) var(--row-min) calc(var(--row-min)*5) var(--row-min);
  grid-template-columns: var(--col-min) calc(var(--col-min)*3);
  gap: 15px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;
}

.header {
  background-color: #006157;

  grid-column: 1 / -1;
}

.sidebar {
  background-color: #005B94;

  grid-row: 2 / 4;
}

.nav {
  background-color: #642cde;

  grid-column: 2;
}

.article {
  background-color: #7E1DC3;

  grid-column: 2;
}

.footer {
  background-color: #393f4d;

  grid-column: 1 / -1;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}